page-login{
    .signin{
        color:#BA55D3; 
        text-align:end; 
        margin-bottom:20px;
    }
    .loginText{
        color:#BA55D3; 
        font-size: 200%; 
        text-align: center; 
        font-weight: bold; 
        margin-top:30px; 
        margin-bottom:30px;
    }
    .findPwd{
        color:lightgray;
    }
    .fab{
        margin-top:30px
    }
}