page-purchase{
    .backg{
        background: rgb(243, 243, 243);
    }
    .member{
        .top{
            text-align: center;
            margin-top:5%;
            color:#BA55D3;
            font-size: 150%;
            font-weight: bold;
        }
        .down{
            text-align: center;
            color:lightgrey;
            margin-bottom:5%;
            font-size:110%;
        }
    }
}